<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionbar_bg</key>
	<string>#ff1a4f95</string>
	<key>cotaMainBgColor</key>
	<string>#ffffff</string>
	<key>bctMainBgColor</key>
	<string>#FFFFFF</string>
	<key>cdtaMainBgColor</key>
	<string>#FFFFFF</string>
	<key>bvtaMainBgColor</key>
	<string>#FFFFFF</string>
	<key>primary</key>
	<string>#102C59</string>
	<key>balance_red</key>
	<string>#FF0201</string>
	<key>balance_green</key>
	<string>#1DAD2B</string>
	<key>cotaHighLightColor</key>
	<string>#ff1a4f95</string>
	<key>bctHighLightColor</key>
	<string>#ff1a4f95</string>
	<key>cdtaHighLightColor</key>
	<string>#FFD1742A</string>
	<key>bvtaHighLightColor</key>
	<string>#FFD1742A</string>
	<key>highlight_2</key>
	<string>#FF0201</string>
	<key>cotaPagerStripBgColor</key>
	<string>#ff008c99</string>
	<key>bctPagerStripBgColor</key>
	<string>#ff008c99</string>
	<key>cdtaPagerStripBgColor</key>
	<string>#FF0E76BC</string>
	<key>bvtaPagerStripBgColor</key>
	<string>#FF0E76BC</string>
	<key>cotaTicketBorderColor</key>
	<string>#ff005dab</string>
	<key>bctTicketBorderColor</key>
	<string>#ff005dab</string>
	<key>cdtaTicketBorderColor</key>
	<string>#ff005dab</string>
	<key>bvtaTicketBorderColor</key>
	<string>#ff005dab</string>
	<key>cotaTableBgColor</key>
	<string>#ff008c99</string>
	<key>bctTableBgColor</key>
	<string>#ff008c99</string>
	<key>cdtaTableBgColor</key>
	<string>#64718F</string>
	<key>bvtaTableBgColor</key>
	<string>#64718F</string>
	<key>cotaThemeColor</key>
	<string>#459EAC</string>
	<key>bctThemeColor</key>
	<string>#459EAC</string>
	<key>cdtaThemeColor</key>
	<string>#E9AE0E</string>
	<key>bvtaThemeColor</key>
	<string>#E9AE0E</string>
	<key>cotaLinkTextColor</key>
	<string>#459EAC</string>
	<key>bctLinkTextColor</key>
	<string>#459EAC</string>
	<key>bvtaLinkTextColor</key>
	<string>#459EAC</string>
	<key>cdtaLinkTextColor</key>
	<string>#ECA900</string>
	<key>link_text - 2</key>
	<string>#ECA900</string>
	<key>title_text</key>
	<string>#AAB2C6</string>
	<key>nav_bar_text</key>
	<string>#FAE5A3</string>
	<key>bonus_activated_bg</key>
	<string>#1DAD2B</string>
	<key>cotaButtonBGColor</key>
	<string>#459EAC</string>
	<key>bctButtonBGColor</key>
	<string>#459EAC</string>
	<key>cdtaButtonBGColor</key>
	<string>#E9AE0E</string>
	<key>bvtaButtonBGColor</key>
	<string>#004B85</string>
	<key>cotaBGColor</key>
	<string>#4298B5</string>
	<key>bctBGColor</key>
	<string>#4298B5</string>
	<key>cdtaBGColor</key>
	<string>#0F2B5B</string>
	<key>bvtaBGColor</key>
	<string>#0F2B5B</string>
	<key>cotaPageMenuColor</key>
	<string>#112559</string>
	<key>bctPageMenuColor</key>
	<string>#112559</string>
	<key>cdtaPageMenuColor</key>
	<string>#E9AE0E</string>
	<key>bvtaPageMenuColor</key>
	<string>#000000</string>
	<key>btnBGColor - 2</key>
	<string>#4298B5</string>
	<key>redBrownColor</key>
	<string>#112559</string>
	<key>redBrownColor - 2</key>
	<string>#AF272F</string>
	<key>cotaTableViewHeaderBGColor</key>
	<string>#042048</string>
	<key>bctTableViewHeaderBGColor</key>
	<string>#042048</string>
	<key>bvtaTableViewHeaderBGColor</key>
	<string>#042048</string>
	<key>cdtaTableViewHeaderBGColor</key>
	<string>#E9AE0E</string>
	<key>cotaContinueBtnBGColor</key>
	<string>#5FB760</string>
	<key>bctContinueBtnBGColor</key>
	<string>#5FB760</string>
	<key>cdtaContinueBtnBGColor</key>
	<string>#E9AE0E</string>
	<key>bvtaContinueBtnBGColor</key>
	<string>#E9AE0E</string>
	<key>navBGColor</key>
	<string>#9AC6D6</string>
	<key>cotaTextInactiveColor</key>
	<string>#ababab</string>
	<key>bctTextInactiveColor</key>
	<string>#ababab</string>
	<key>bvtaTextInactiveColor</key>
	<string>#ababab</string>
	<key>cdtaTextInactiveColor</key>
	<string>#ababab</string>
	<key>ticket_dynamic_bg</key>
	<string>#88aa66cc</string>
	<key>ticket_timer_3</key>
	<string>#ff00bb11</string>
	<key>ticket_timer_2</key>
	<string>#ffffbb22</string>
	<key>ticket_timer_1</key>
	<string>#ffff4444</string>
	<key>ticket_message</key>
	<string>#fa7f00</string>
	<key>ticket_message_expired</key>
	<string>#c51902</string>
	<key>green</key>
	<string>#006400</string>
	<key>holo_red_dark</key>
	<string>#ffcc0000</string>
	<key>cotaTextDarkColor</key>
	<string>#181512</string>
	<key>bctTextDarkColor</key>
	<string>#181512</string>
	<key>bvtaTextDarkColor</key>
	<string>#4A4A4A</string>
	<key>cdtaTextDarkColor</key>
	<string>#181512</string>
	<key>btnImgSelectedCardColor</key>
	<string>#808080</string>
	<key>btnImgUnSelectedCardColor</key>
	<string>#d1d1d1</string>
	<key>bctTopNavBarColor</key>
	<string>#f0f0f0</string>
	<key>bvtaTopNavBarColor</key>
	<string>#6D8CB8</string>
	<key>cotaTopNavBarColor</key>
	<string>#f0f0f0</string>
	<key>bctLoginBGColor</key>
	<string>#1f2948</string>
	<key>cotaLoginBGColor</key>
	<string>#223668</string>
	<key>bvtaLoginBGColor</key>
	<string>#6D8CB8</string>
	<key>bctNavBarColor</key>
	<string>#182a47</string>
	<key>bvtaNavBarColor</key>
	<string>#6D8CB8</string>
	<key>cotaNavBarColor</key>
	<string>#223668</string>
	<key>cotaBigButtonBGColor</key>
	<string>#2899D4</string>
	<key>bctBigButtonBGColor</key>
	<string>#459EAC</string>
	<key>bvtaBigButtonBGColor</key>
	<string>#004B85</string>
	<key>bvtaPlaceHolderTextColor</key>
	<string>#4A4A4A</string>
	<key>bctPlaceHolderTextColor</key>
	<string>#9B9B9B</string>
	<key>cotaPlaceHolderTextColor</key>
	<string>#9B9B9B</string>
</dict>
</plist>
