<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string>card_logo_image</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>XXXX-XXXX-XXXX-</string>
			<key>Key</key>
			<string>last_four_preference</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>First Used</string>
			<key>Key</key>
			<string>first_used_preference</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Last Used</string>
			<key>Key</key>
			<string>last_used_preference</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Purchases</string>
			<key>Key</key>
			<string>purchases_count_preference</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Delete Payment Method</string>
			<key>Key</key>
			<string>delete_method_button</string>
		</dict>
	</array>
</dict>
</plist>
