<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Email Address</string>
			<key>Key</key>
			<string>email_preference</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Email verified</string>
			<key>Key</key>
			<string>verified_preference</string>
			<key>DefaultValue</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Assign Cards To Account</string>
			<key>IASKViewControllerClass</key>
			<string>AssignCardsViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:specifier:</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Card Management</string>
			<key>IASKViewControllerClass</key>
			<string>CardManagementViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:specifier:</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Change Email</string>
			<key>IASKViewControllerClass</key>
			<string>EmailSettingsViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:specifier:</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Change Password</string>
			<key>IASKViewControllerClass</key>
			<string>PasswordSettingsViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:specifier:</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Remove Account</string>
			<key>IASKViewControllerClass</key>
			<string>RemoveAccountViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:specifier:</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
