<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionbar_bg</key>
	<string>#ff1a4f95</string>
	<key>MainBgColor</key>
	<string>$$@@MainBgColor</string>
	<key>primary</key>
	<string>#102C59</string>
	<key>balance_red</key>
	<string>#FF0201</string>
	<key>balance_green</key>
	<string>#1DAD2B</string>
	<key>HighLightColor</key>
	<string>$$@@HighLightColor</string>
	<key>highlight_2</key>
	<string>#FF0201</string>
	<key>PagerStripBgColor</key>
	<string>$$@@PagerStripBgColor</string>
	<key>PurchaseButtonBGColor</key>
	<string>$$@@PurchaseButtonBGColor</string>
	<key>TicketBorderColor</key>
	<string>$$@@TicketBorderColor</string>
	<key>TableBgColor</key>
	<string>$$@@TableBgColor</string>
	<key>ThemeColor</key>
	<string>$$@@ThemeColor</string>
	<key>LinkTextColor</key>
	<string>$$@@LinkTextColor</string>
	<key>link_text - 2</key>
	<string>#ECA900</string>
	<key>title_text</key>
	<string>#AAB2C6</string>
	<key>nav_bar_text</key>
	<string>#FAE5A3</string>
	<key>bonus_activated_bg</key>
	<string>#1DAD2B</string>
	<key>ButtonBGColor</key>
	<string>$$@@ButtonBGColor</string>
	<key>BGColor</key>
	<string>$$@@BGColor</string>
	<key>PageMenuColor</key>
	<string>$$@@PageMenuColor</string>
	<key>btnBGColor - 2</key>
	<string>#4298B5</string>
	<key>redBrownColor</key>
	<string>#112559</string>
	<key>redBrownColor - 2</key>
	<string>#AF272F</string>
	<key>TableViewHeaderBGColor</key>
	<string>$$@@TableViewHeaderBGColor</string>
	<key>ContinueBtnBGColor</key>
	<string>$$@@ContinueBtnBGColor</string>
	<key>navBGColor</key>
	<string>#9AC6D6</string>
	<key>TextInactiveColor</key>
	<string>$$@@TextInactiveColor</string>
	<key>ticket_dynamic_bg</key>
	<string>#88aa66cc</string>
	<key>ticket_timer_3</key>
	<string>#ff00bb11</string>
	<key>ticket_timer_2</key>
	<string>#ffffbb22</string>
	<key>ticket_timer_1</key>
	<string>#ffff4444</string>
	<key>ticket_message</key>
	<string>#fa7f00</string>
	<key>ticket_message_expired</key>
	<string>#c51902</string>
	<key>green</key>
	<string>#006400</string>
	<key>holo_red_dark</key>
	<string>#ffcc0000</string>
	<key>TextDarkColor</key>
	<string>$$@@TextDarkColor</string>
	<key>btnImgSelectedCardColor</key>
	<string>#808080</string>
	<key>btnImgUnSelectedCardColor</key>
	<string>#d1d1d1</string>
	<key>TopNavBarColor</key>
	<string>$$@@TopNavBarColor</string>
	<key>LoginBGColor</key>
	<string>$$@@LoginBGColor</string>
	<key>NavBarColor</key>
	<string>$$@@NavBarColor</string>
	<key>BigButtonBGColor</key>
	<string>$$@@BigButtonBGColor</string>
	<key>PlaceHolderTextColor</key>
	<string>$$@@PlaceHolderTextColor</string>
	<key>LabelTextColor</key>
	<string>$$@@LabelTextColor</string>
	<key>StoredRideCellBorderColor</key>
	<string>$$@@StoredRideCellBorderColor</string>
	<key>StoredValueCellBorderColor</key>
	<string>$$@@StoredValueCellBorderColor</string>
	<key>PeriodPassCellBorderColor</key>
	<string>$$@@PeriodPassCellBorderColor</string>
</dict>
</plist>
