<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cotabuttonBG</key>
	<string>#223668</string>
	<key>genfarebuttonBG</key>
	<string>#223668</string>
	<key>cdtabuttonBG</key>
	<string>#E9AE0E</string>
	<key>actionbar_bg</key>
	<string>#ff1a4f95</string>
	<key>cotaMainBgColor</key>
	<string>#ffffff</string>
	<key>cdtaMainBgColor</key>
	<string>#FFFFFF</string>
	<key>primary</key>
	<string>#102C59</string>
	<key>balance_red</key>
	<string>#FF0201</string>
	<key>balance_green</key>
	<string>#1DAD2B</string>
	<key>cotaHighLightColor</key>
	<string>#ff1a4f95</string>
	<key>cdtaHighLightColor</key>
	<string>#FFD1742A</string>
	<key>highlight_2</key>
	<string>#FF0201</string>
	<key>cotaPagerStripBgColor</key>
	<string>#ff008c99</string>
	<key>cdtaPagerStripBgColor</key>
	<string>#FF0E76BC</string>
	<key>cotaTicketBorderColor</key>
	<string>#ff005dab</string>
	<key>cdtaTicketBorderColor</key>
	<string>#ff005dab</string>
	<key>cotaTableBgColor</key>
	<string>#ff008c99</string>
	<key>cdtaTableBgColor</key>
	<string>#64718F</string>
	<key>cotaThemeColor</key>
	<string>#459EAC</string>
	<key>cdtaThemeColor</key>
	<string>#E9AE0E</string>
	<key>cotaLinkTextColor</key>
	<string>#9AC6D6</string>
	<key>cdtaLinkTextColor</key>
	<string>#ECA900</string>
	<key>link_text - 2</key>
	<string>#ECA900</string>
	<key>title_text</key>
	<string>#AAB2C6</string>
	<key>nav_bar_text</key>
	<string>#FAE5A3</string>
	<key>bonus_activated_bg</key>
	<string>#1DAD2B</string>
	<key>cotaButtonBGColor</key>
	<string>#459EAC</string>
	<key>cdtaButtonBGColor</key>
	<string>#E9AE0E</string>
	<key>cotaBGColor</key>
	<string>#4298B5</string>
	<key>cdtaBGColor</key>
	<string>#0F2B5B</string>
	<key>cotaPageMenuColor</key>
	<string>#112559</string>
	<key>cdtaPageMenuColor</key>
	<string>#E9AE0E</string>
	<key>btnBGColor - 2</key>
	<string>#4298B5</string>
	<key>redBrownColor</key>
	<string>#112559</string>
	<key>redBrownColor - 2</key>
	<string>#AF272F</string>
	<key>cotaTableViewHeaderBGColor</key>
	<string>#042048</string>
	<key>cdtaTableViewHeaderBGColor</key>
	<string>#E9AE0E</string>
	<key>cotaContinueBtnBGColor</key>
	<string>#5FB760</string>
	<key>cdtaContinueBtnBGColor</key>
	<string>#E9AE0E</string>
	<key>navBGColor</key>
	<string>#9AC6D6</string>
	<key>cotaTextInactiveColor</key>
	<string>#ababab</string>
	<key>cdtaTextInactiveColor</key>
	<string>#ababab</string>
	<key>ticket_dynamic_bg</key>
	<string>#88aa66cc</string>
	<key>ticket_timer_3</key>
	<string>#ff00bb11</string>
	<key>ticket_timer_2</key>
	<string>#ffffbb22</string>
	<key>ticket_timer_1</key>
	<string>#ffff4444</string>
	<key>ticket_message</key>
	<string>#fffa7f00</string>
	<key>ticket_message_expired</key>
	<string>#ffc51902</string>
	<key>green</key>
	<string>#006400</string>
	<key>holo_red_dark</key>
	<string>#ffcc0000</string>
	<key>cotaTextDarkColor</key>
	<string>#181512</string>
	<key>cdtaTextDarkColor</key>
	<string>#181512</string>
	<key>btnImgSelectedCardColor</key>
	<string>#808080</string>
	<key>btnImgUnSelectedCardColor</key>
	<string>#d1d1d1</string>
</dict>
</plist>
