<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Navigator</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2016.08.21.01</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>305</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeBus</string>
		<string>MKDirectionsModePedestrian</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We use your location to show you stops nearby.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to show you stops nearby.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>api_environment</key>
	<string>Local</string>
	<key>api_host</key>
	<string>79a34f19.ngrok.io</string>
	<key>auth_password</key>
	<string>40001@api</string>
	<key>auth_username</key>
	<string>40001</string>
	<key>forgot_pass_link</key>
	<string>https://tickets.genfaremobiledemo.com</string>
	<key>google_api_key</key>
	<string>AIzaSyDxZ0OI948vgsxsNQMngo45sNyBas9oBi8</string>
	<key>purchase_link</key>
	<string>http://aaaae26c.ngrok.io/app</string>
    <key>schedules_host</key>
    <string>api.cota.com</string>
	<key>schedules_key</key>
	<string>28e336ac6c9423d946ba02d19c6a2632</string>
	<key>transit_id</key>
	<string>40001</string>
	<key>ws_host</key>
	<string>ws.coocoo.com</string>
</dict>
</plist>
